.burgers
{
  background: linear-gradient(180deg,#f9b43b 0,#eb8c38 40%,#eb8c38 60%,#eb8c38 0,#f9b43b);
}

.burgers__container
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 60%;
  position: relative;
}

.burgers__text
{
  margin-left: rem(20px);
}

.burgers__desc
{
  @include ubuntu();
  color: #fff;
  font-size: rem(14px);
  line-height: 1.6;
  margin-top: rem(40px);
  margin-bottom: rem(30px);
}
.burgers__price
{
  @include gagalin();
  font-size: rem(72px);
  color: $orange;

  &_small-font
  {
    font-size:rem(30px);
  }
  &:first-child
  {
    margin-right: rem(10px);
  }
}

.burgers__footer
{
  display: flex;
  align-items: baseline;
}

.burgers__btn
{
  align-self: center;
}

.burgers__prices
{
  display: flex;
  align-items: baseline;
  margin-right: rem(30px);
}

.burgers__image
{
  position: relative;

  margin-top: rem(100px);
}

.burgers__composition
{
  position: absolute;
  top: rem(-80px);
  left: 0;
  z-index: 600;
  width: rem(90px);
  height: rem(90px);
  background-color: rgba($orange, .4);
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burgers__composition-icon
{
  width: rem(45px);
  height: rem(45px);
  fill: #fff;
}

.burgers__composition-desc
{
  @include gagalin;
  font-size: rem(14px);
  color: #fff;
}

.burgers__weight
{
  position: absolute;
  bottom: rem(-70px);
  left: 0;
  z-index: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burgers__weight-pic
{
  width: rem(60px);
  height: rem(60px);
  position: relative;

}

.burgers__weight-icon
{
  width: 100%;
  height: 100%;
  fill: rgba(#fff, .5);
}

.burgers__weight-desc
{
  @include gagalin;
  font-size: rem(14px);
  color: rgba(#fff, .5);
}

.burgers__weight-value
{
  @include gagalin;
  font-size: rem(14px);
  color: rgba(#fff, .5);
  position: absolute;

}




