.hero
{
  background: url(../img/bg/hero_bg.jpg) center center no-repeat;
  background-size:cover;

}

.hero__wrapper
{
  height: 85%;
  display: flex;
  position: relative;

}

.header
{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.header__btns
{
  margin-left: auto;
  display: flex;
  align-items: center;
}


.nav__list
{
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.nav__item
{
  display: flex;
  align-items: center;

  &:last-child
  {
    &:after
    {
      display: none;
    }

  }

  &:after
  {
    display: block;
    content: '';
    @include circle(4px, #fff);
    margin: 0 16px;
  }
}

.nav__link
{
  color: #fff;
  font-size:13px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero__desc
{
  color: #fff;
  font-size: 65px;
  @include lifehack();
  font-weight: 500;
  line-height: 1;
  margin-top: 40px;
}

.hero__container
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__present
{
  display: flex;
  align-items: center;
}

.hero__text
{
  margin-left: 20px;
}
