.hero
{
  background: url(../img/bg/hero_bg.jpg) center center no-repeat;
  background-size:cover;
  position: relative;

}

.hero__wrapper
{
  height: 85%;
  display: flex;

}

.header
{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.header__btns
{
  margin-left: auto;
  display: flex;
  align-items: center;
}


.nav__list
{
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.nav__item
{
  display: flex;
  align-items: center;

  &:last-child
  {
    &:after
    {
      display: none;
    }

  }

  &:after
  {
    display: block;
    content: '';
    @include circle(4px, #fff);
    margin: 0 16px;
  }
}

.nav__link
{
  color: #fff;
  font-size:13px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero_present
{
  display: flex;
}

.hero_desc
{
  color: #fff;
  font-size: 65px;
  @include lifehack();
  font-weight: 500;
  line-height: 1;
}

.hero_image-pic
{
  //max-width: 100%;
}

.hero__container
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_present
{
  display: flex;
  align-items: center;
}

.hero_text
{
  margin-left: 20px;
}

//.hero
//{
//
//  background-repeat: no-repeat;
//  background-position: 50%;
//  background-size:cover;
//  position: relative;
//}
//
//.header
//{
//  width: 100%;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  padding-top: 10px;
//}
//
//.header__logo
//{
//  margin-right: auto;
//}
//
//.nav
//{
//  margin-right: rem(15px);
//}
//
//.nav__link
//{
//  margin: 0;
//  padding: 0;
//}
//
//.nav__item
//{
//  display: inline-block;
//  vertical-align: middle;
//  white-space: nowrap;
//  &:after
//  {
//    display: inline-block;
//    vertical-align: middle;
//    content: '';
//    @include circle(5px, #fff);
//    margin: 0 12px;
//  }
//  &:last-child:after
//  {
//    display: none;
//  }
//}
//
//.nav__link
//{
//  color: #fff;
//  font-size: 13px;
//  font-weight:500;
//  line-height: 1.42;
//  text-transform: uppercase;
//  text-decoration: none;
//  display: inline-block;
//  vertical-align: middle;
//  &:hover
//  {
//    text-decoration: underline;
//  }
//}
//
//.hero__container
//{
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//}
//
//.hero__content
//{
//  width: 100%;
//  display: flex;
//  flex-wrap: wrap;
//  flex-grow: 1;
//  align-items: center;
//  padding-bottom: 15%;
//}
//
//.hero__img, .hero__description
//{
//  flex-basis: 50%;
//  display: flex;
//}
//
//.hero__img
//{
//  align-items: center;
//}
//
//.hero__description
//{
//  flex-direction: column;
//  justify-content: center;
//}
//
//.section__title
//{
//  color: #f9b43b;
//  font-family: 'Gagalin';
//  font-size: 72px;
//  font-weight: 400;
//  line-height: 1.42;
//  margin: 0;
//  padding-top: 60px;
//}
//
//.hero__description-text
//{
//  color: #fff;
//  font-family: 'Lifehack';
//  font-size: 65px;
//  font-weight: 500;
//  line-height: 1;
//}