.hero
{
  background: url(../img/bg/hero_bg.jpg) center center no-repeat;
  background-size:cover;

}

.hero__wrapper
{
  height: 85%;
  display: flex;
  position: relative;

}

.header
{
  display: flex;
  align-items: center;
  margin-top: rem(30px);

}

.header__btns
{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav
{
  @include tablets() {
    display: none;
  }
}

.nav__list
{
  display: flex;
  align-items: center;
  margin: 0 rem(30px);
}

.nav__item
{
  display: flex;
  align-items: center;

  &:last-child
  {
    &:after
    {
      display: none;
    }

  }

  &:after
  {
    display: block;
    content: '';
    @include circle(rem(4px), #fff);
    margin: 0 rem(16px);
  }
}

.nav__link
{
  color: #fff;
  font-size: rem(13px);
  text-transform: uppercase;
  text-decoration: none;

  &:hover
  {
    text-decoration: underline;
  }
}



.hero__desc
{
  color: #fff;
  font-size: rem(65px);
  @include lifehack();
  font-weight: 500;
  line-height: 1;
  margin-top: rem(40px);


  @include tablets() {
    margin-top: 5px;
  }
}

.hero__container
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hero__present
{
  display: flex;
  align-items: center;
  width: 100%;

  @include tablets() {
    flex-direction: column;
    width: 90%;
  }
}

.hero__text
{
  margin-top: rem(80px);
  margin-left: rem(20px);

  @include tablets() {
    text-align: center;
    margin-left: 0;
    margin-top: rem(20px);
  }

  @include phones()
  {
    margin-top: rem(10px);
  }
}

.hero__image
{
  @include phones()
  {
    width: 90%;
  }
}

.hero__image-pic
{
  max-width: 100%;

}


.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 22px;
  align-items: center;
  margin-left: rem(30px);
  margin-right: rem(10px);
  display: none;
  z-index: 5;

  @include tablets() {
    display: flex;
  }
}

.hamburger-menu-link__bars {
  &, &:before, &:after {
    background: #fff;
    width: 24px;
    height: 4px;
    border-radius: 2px;
    display: none;

    @include tablets() {
      display: block;
    }
  }

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}


.header_burger
{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  margin-left: 8px;
  margin-top: rem(10px);
}

.burger-nav
{
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 0;
  background-color: #303334;
  z-index: 500;

}

.burger-nav__list
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger-nav__link
{
  @include ubuntu();
  color: #fff;
  font-size: rem(24px);
  text-transform: uppercase;
  text-decoration: none;
}


.burger-nav__item
{
  display: flex;
  flex-direction: column;
  align-items: center;

  &:last-child
  {
    &:after
    {
      display: none;
    }

  }

  &:after
  {
    display: block;
    content: '';
    @include circle(rem(4px), #fff);
    margin: rem(25px) 0;
  }



}


.btn-close
{
  margin-top: rem(5px);
  margin-right: rem(12px);
  z-index: 501;
  position: relative;
  display: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background: url(../img/close.png) center center no-repeat;
}