@font-face
{
  font-family: 'Lifehack';
  src: url('../fonts/lifehack-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Gagalin';
  src: url('../fonts/gagalin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/ubuntu-bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/ubuntu-medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/ubuntu-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face
{
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/ubuntu-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}